
.resume_HeaderTitle {
    color: gold;
    font-size: 50px;
    margin: 20px;
    padding: 0px;
    text-align: center;
    /* font-family: 'Roboto', sans-serif; */
}

.resume_HeaderTitle:hover {
	color: gold;
}

.resume_NameTitle {
    color: #fff;
    font-size: 40px;
    margin: 20px;
    padding: 0px;
    text-align: center;
    /* font-family: 'Roboto', sans-serif; */
}

.resume_NameTitle:hover {
	color: gold;
}

.resume_PositionTitle {
    color: #fff;
    font-size: 30px;
    margin: 20px;
    padding: 0px;
    text-align: center;
    /* font-family: 'Roboto', sans-serif; */
}

.resume_PositionTitle:hover {
	color: gold;
}

.resume_normaltext {
    color: #fff;
    font-size: 20px;
    text-align: left;
    /* font-family: "Roboto", sans-serif; */
}

.resume_normaltext:hover {
	color: gold;
}

.resume_pageContainer{
	padding: 20px;
	margin: 20px;
}

.resume_SubHeaderTitle {
    color: gold;
    font-size: 30px;
    padding: 0px;
    text-align: left;
    /* font-family: 'Roboto', sans-serif; */
}

.resume_SubHeaderTitle:hover {
	color: gold;
}

.resume_CompanyTitle {
    color: #E6BE8A;
    font-size: 20px;
    padding: 0px;
    text-align: left;
    /* font-family: 'Roboto', sans-serif; */
    /*make bold*/
    font-weight: bold;
}

.resume_CompanyTitle:hover {
	color: gold;
}